

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
   
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
   
  font-style: normal;
}

body{
    background-color: rgba(78, 71, 255, 0.01);
    margin: 0px;
     
}


/* header styles */

.header{
    background-image: url("Assets/Hero-bg.png");
    margin: 0px auto;
}

.btn-primary{
    color: white;
    background-color: #4e47ff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover{
    background-color: aqua;
    cursor: pointer;
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px  
}

.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}
ul{
    display: flex;
    align-items: center;
    gap: 51px;
}
li{
    list-style: none;
}

/* banner styles */

.banner{
    margin-top: 158px;
}

.banner-content{
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    margin: 0;
    
}
.btn-secondary{
    margin-top: 37px;
    margin-bottom: 152px;
}

/* action styles */

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 159px 0 141px;
}

.action-column-caption{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0px;
}

.action-column-description{
    font-size: 24px;
    color: #252432;
     
}
.action-image-1{
    border-radius: 48px;
}

/* productive user styles */

.productive-users{
    background-color: rgba(78, 71, 255, 0.1); 
    border-radius: 24px;
    margin: 116px 159px 0px 141px;
    padding: 50px 142px 50px 142px;
}

.productive-users-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
     
}
 .father{
    display: flex;
    justify-content: space-between;
 }
.son{
     
}
 .son-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
 }
 .son-description{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
     
 }

 /* user feedback styles */

 .users-feedback{
    margin: 137px 149px 0px 151px;
    padding: 0px;
 }

  
 

 .users-feedback-title{
    font-weight: bold;
    font-size: 49px;
    text-align: center;
 }

 .father-of-father1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }

 .father1{
    border-radius: 14px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(242, 237, 237, 1);
    width: 366px;
    height: 243px;
    margin: 0 auto;

 }
.son1-title{
    font-size: 20px;
    margin-bottom: 0px;
}
 .reviews{
    display: flex;
    align-items: center;
     gap: 12px;
 }
 .reviewer-pic{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
 }
 .review-date{
    color: #757575;
     
 }

 /* focus styles */

.focus{
    text-align: center;
     margin: 137px 149px 0px 151px;
     padding: 71px 150px 71px 150px;
     background-color: rgba(255, 255, 255, 1);
}
.focus-title{
    font-size: 50px;
    margin-bottom: 0px;
}
.focus-description{
    color: rgba(0, 0, 0, 0.5);
     
}
.focus-pic{
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin-top: 20px;
}

/* get in touch and form styles */

.get-in-touch{
     
     
     
}

.father2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 137px 149px 0px 151px;

}
.son2{
     
    font-weight: bold;font-size: 70px;
}
 

input[type="text"] , input[type="email"]{
    width: 497px;
    height: 70px;
    border-radius: 10px;
}
textarea{
    width: 497px;
    border-radius: 10px;
}

.btn-third{
    width: 503px;
}
footer{
    background-color: rgba(255, 255, 255, 1);
    padding: 104px 455px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 71px;
 }
 .footer-container{
    text-align: center;
 }
 .footer-title{
    font-weight: bolder;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 0px;
 }
 .footer-description{
    color: rgba(137, 135, 161, 1);
 }
 a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
 }
 